.container {
    background: linear-gradient(90deg, #014589, #024e75, #03709f);
    margin-top: 150px;
    padding: 3rem;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.overlapContainer {
    position: relative;
    top: -50px; /* Adjust this value to control the amount of overlap */
    z-index: 2;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputGroup {
    display: flex;
}

.input {
    flex: 1;
    border-radius: 0;
    border-right: none;
}

.input:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #ccc;
}

.button {
    width: 48%;
    border-radius: 5px;
    padding: 0.5rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.select {
    flex: 1 1 30%;
    background: transparent;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}




.scrollableColumn {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    height: 150vh !important;
}


.jobDetailsCardBody{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1 solid gainsboro;
    border-radius: 10px;

}

.profile {
    padding: 3rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.cardIcon {
    font-size: 2rem;
    color: #007bff;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

.Learntag {
    color: #007bff;
    text-decoration: none;
}

.infoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.ApplyLink{
    background-color:#03709f !important;
    color: white !important;
}
.companyLink{
    text-decoration: none;
}