.container {
    /* background-color: #121212; Dark background */
    color: #ffffff; /* White text */
  }
  
  .btn-custom {
    background-color: #1e1e1e; /* Custom button background */
    color: #ffffff; /* Custom button text color */
    border: 1px solid #ffffff; /* Custom button border */
  }
  
  .btn-custom:hover {
    background-color: #ffffff; /* Custom button hover background */
    color: #1e1e1e; /* Custom button hover text color */
  }
  
  .card {
background-color: rgb(16, 16, 16) !important;
border: 1px solid rgb(102, 103, 104) !important; /* No border */
    border-radius: 10px !important;
    margin-bottom: 10px !important;
  }
  
  .text-center {
    text-align: center;
  }
.contentBox{
background-color: rgb(16, 16, 16);
border-radius: 15px;
}  

.gradientText {
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 127, 80)); /* RGB colors */
  background-clip: text;
  color: transparent;
}