/* .container {
    background-color: #1a1a1a;
    padding: 50px 0;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.image {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    position: relative;
}
.text {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}
.text-area {
    position: relative;
    z-index: 1;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .image {
        max-width: 200px;
        max-height: 200px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .text-area {
        padding:'20px'
    }
} */


.text {
    white-space:nowrap;
    color: rgb(56, 54, 54);
}
.description{
    color: rgb(133, 137, 141);
    text-align: center;
} 
.gradientText {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 127, 80)); /* RGB colors */
    background-clip: text;
    color: transparent;
}
.button{
    border-radius: 30px !important;
    font-size: 15px;
}
.bgGradient{
    background-image: url('../../assets/gradient2.png') !important;
}

@media (max-width: 768px) {
.text{
    white-space: normal;
}
} 